<?xml version="1.0" encoding="utf-8" ?>
<MongoDBConfiguration xmlns="http://schemas.nap7.com"
                      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xsi:schemaLocation="http://schemas.nap7.com mongodb.xsd">
  <MongoDB>
    <!-- MongoDB Connection String URI Format https://docs.mongodb.org/manual/reference/connection-string/ -->
    <MongoDBClient  
      xmlns:xs="http://schemas.nap7.com"  
      xs:ConnectionString="mongodb://localhost:27017" 
      xs:DefaultDatabase="Test" 
      xs:Mode="Full" />
  </MongoDB>
</MongoDBConfiguration>