<?xml version="1.0" encoding="utf-8" ?>
<RedisConfiguration xmlns="http://schemas.nap7.com"
                      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                      xsi:schemaLocation="http://schemas.nap7.com redis.xsd">
  <Redis>
    <RedisClient xmlns:xs="http://schemas.nap7.com" xs:ConnectionConfiguration="localhost:6379" />
  </Redis>
</RedisConfiguration>