<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DnsClient" version="1.0.7" targetFramework="net47" />
  <package id="MongoDB.Bson.signed" version="2.5.0" targetFramework="net47" />
  <package id="MongoDB.Driver.Core.signed" version="2.5.0" targetFramework="net47" />
  <package id="MongoDB.Driver.signed" version="2.5.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="SquirrelFramework" version="1.0.13" targetFramework="net47" />
  <package id="SquirrelFramework.Domain.Model" version="1.0.0" targetFramework="net47" />
  <package id="SquirrelFramework.Utility" version="1.0.1" targetFramework="net47" />
  <package id="StackExchange.Redis.StrongName" version="1.2.6" targetFramework="net47" />
  <package id="System.Buffers" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net47" />
</packages>